
h1{
  color: blueviolet;

}
.container {
    margin-top: 20px;
    color: blueviolet;
  }
  
  label {
    display: inline-block;
    width: 60px;
   
  }
  
  input {
    width: 100px;
 
  }
  
  button {
    margin-left: 10px;
  color: blueviolet;
  
  }